<a href='#/summoner/{{summoner_id}}'> Back </a>
<H1> {{error}} </H1>
<table class='table table-hover'>
	<thead>
		<tr>
			<td> </td>
			<td> Level </td>
			<td> Champion</td>
			<td> Kills </td>
			<td> Deaths </td>
			<td> Assists </td>
			<td> Creep Score </td>
		<tr>
	</thead>
	<tbody>
		<tr ng-repeat='(key, value) in players' class='{{champion[key].teamId|championTeam:champion[key].teamId}}'>
			<td><img src="img/champions/{{champion[key].championId|championName:champion[key].championId}}.png" class='icon'></td>
			<td ng-bind="value.stats.champLevel"></td>
			<td ng-bind="champion[key].championId|championName:champion[key].championId"></td>
			<td ng-bind="value.stats.kills"></td>
			<td ng-bind="value.stats.deaths"></td>
			<td ng-bind="value.stats.assists"></td>
			<td ng-bind="value.stats.minionsKilled"></td>
		</tr>
	</tbody>
</table>